
/* --------------------------------------- DASHBOARD VIEW -------------------------------- */
.dash-board {
  background-color: #343234;
  width: 100%;
}
.dash-board {
  padding: 0;
}
.recent-menu-options h1{
  display: inline;
  text-align: center;
  margin: 30% auto;
}
#recentlyPresented, #recentlyViewed {
  margin: 10%;
  font-size: 2em;
}
.main-dash {
  padding-right: 0;
}
.side-main-view {
  background-color: white;
  height: 150vh;
  padding: 0;
}

/*----------------------thumbnails----------------------------*/
#recentMenu {
  width: 90%;
  margin: 5% 3%;
  background-color: white;
  border-radius: 5px;
}

.recent-lectures ul{
}

.slideThumb {
  display: inline;
  width: 34%;
  float: left;
  width: 25%;
}

.thumbnails {
  margin: 10%;
  text-align: center;
  height: 30vh;
  background-color: #6292BD;;
  border-radius: 5px;
  color: white;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-y: scroll;
}
.recent-presentation-title {
  margin: 2%;
  font-size: 1.4em;
}
.thumbnails i{
  margin: 4%;
  font-size: 6em;
}

/*-------------------search----------------*/
.no-results {
  color: #FFFFFF;
}
.search-results {
  color: #FFFFFF;
}
.search-results h1{
  margin-left: 5%
}

.search-results hr {
  color: #FFFFFF;
  background-color: #FFFFFF;
}
