
/* --------------------------------------- DASHBOARD VIEW -------------------------------- */
.dash-board {
  background-color: #343234;
  width: 100%;
}
.dash-board {
  padding: 0;
}
.recent-menu-options {
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.highlight {
  background-color: #D64937;
  color:white;
  border-radius: 3px;
}

#recentlyPresented, #recentlyViewed {
  margin: 0;
  font-size: 2em;
  padding: 1%;
  margin: 5%;
}
.main-dash {
  padding-right: 0;
}

.row {
  margin: 0;
}

/*--------------------thumbnails-------------------*/
#recentMenu {
  width: 90%;
  margin: 5% 3%;
  background-color: white;
  border-radius: 5px;
}

.recent-lectures ul{
  margin: 0;
  padding: 0;
}

.recent-menu-options a:focus {
  color: white;
}
.recent-menu-options a:hover {
  text-decoration: none;
  color: #D64937;
}

.slideThumb {
  display: inline;
  width: 34%;
  float: left;
  width: 25%;
  text-decoration: none;
}
.slideThumb a:hover{
  text-decoration: none;
}

.thumbnails {
  margin: 10%;
  text-align: center;
  height: 30vh;
  max-height: 200px;
  background-color: #6292BD;;
  border-radius: 5px;
  color: white;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-y: scroll;
}
.thumbnails:hover {
  color:#1e5abc;
}
.recent-presentation-title {
  margin: 2%;
  font-size: 1.4em;
}
.thumbnails i{
  margin: 4%;
  font-size: 6em;
}

/*-------------------search-------------------*/
.no-results {
  color: #FFFFFF;
}
.search-results {
  color: #FFFFFF;
}
.search-results h1{
  margin-left: 5%
}

.search-results hr {
  color: #FFFFFF;
  background-color: #FFFFFF;

}
.search-results ul {
  margin: 0;
  padding: 0;
}

/*----------------dash-side--------------------*/

.side-main-view {
  background-color: white;
  padding: 0;
  height: 100vh;
  max-height: 300vh;
}

.input-form {
  margin: 5% 10%;
  width: 80%;
}
.side-presentation-btn {
  margin: 2% 10%;
  width: 80%;
}
.join-form {
  margin-bottom: 0;
}
