#FeedbackBoxContainer {
	padding: 20px;
	height: 90vh;
	width: 25vw;
	float: right;
	background-color: white;
}

#FeedbackBox{
	text-align: center;
}

#FeedbackBox .lecture-title h1{
  font-size: 24px;
  margin-bottom: 3.5vh;
}

#updatePulse{
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.14);
  border-radius: 5%;
	width: 100%;
	height: 15vh;
	text-align: center;
	background-color: #7CCA71;
	padding: 3vh;
}
#updatePulse:active {
	background-color: #137022;
}

#FeedbackButtonContainer{
	text-align: center;
}

#FeedbackButtonText{
	color: white;
	margin-top: 2vh;
}

.thumbButton{
	cursor: pointer;
}

#AudThumbTopic{
	font-size: 24px;
}
