#PulseBox{
	/*width: 70vw;*/
	margin: 2vh 2.5vw 5vh;
	background-color: #FFFFFF;
	border-radius: 5px;
	font-size: 1.5em;
	font-weight: bold;
}

.pulse-row {
	padding-right: 0; 
}

#GraphTitle{
	color: #6292BD;
}