#QuestionBoxPresenter{
	float:left;
	margin-left: 2.5vw;
	width: 33.75vw;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.upvoteDownvote{
	margin-top: 1vh;
	height: 7.5vh;
	width: auto;
	display: inherit;
	margin-left: 5px;
}

.questionText {
	margin: 2vh 1vw;
	display: -webkit-inline-box;
	width: 76%;
  padding: 2%;
  font-size: .9em;
}

.voteContainer {
	width: 3vw;
	float:left;
	width:10%;
}

.questionVotes{
	display: inline-block;
	float:left;
	margin-left: 19px;
}

#QuestionBoxTitle{
	color: #CECECE;
	font-size: 21px;
}

#questionInput{
	width: 75%;
	margin-bottom: 1vh;
}

#submitQuestion{
	width: 20%;
	background-color: #CECECE;
}

.question{
	font-size: 16px;
	min-height: 76px;
  margin: 1%;
  background: #eee;
}

.question .circled{
	border: 2px solid #7CCA71;
	border-radius: 50%;
}

#QuestionBoxPresenter h2{
	color: #6292BD;
}
.submit-btn {
	background-color: #EFF2F6;
	color: #6292BD;
}
.submit-btn:hover ,.submit-btn:focus, .submit-btn:active{
	background-color: #6292BD;
	color: #FFFFFF;
}

.presenter-input {
	width: 70%;
	display: inline;
	margin: 2%;
}
/*
#questionInput {
	width: 70%;
	display: inline;
	margin: 2%;
}

#submitQuestion{
	background-color: #EFF2F6;
	color: #6292BD;
}*/
