/*#mainPane {
  float:left;
  width:78vw;
  margin: 0 2vw;
  background:lightblue;
}*/

/*#leftPane {
  float:left;
  width:18vw;
  margin-left:2vw;
  background:lightblue;
}*/

/*.summaryInfoBox {
  width:45%;
  margin:2.5%;
}*/

.summary-main {
  background-color: #EBEBEB;
}

/*--------------table-----------------*/
.audience-table {
  font-size: 25px;
  background-color: #FFFFFF;
}

.usersClicks {
  background-color: #FFFFFF;
  border-radius: 5px;
}

th{
  background-color: #343234;
  color: #FFFFFF;
}

/*-------------Summary-----------------*/
.summary {
  background-color: #FFFFFF;
  border-radius: 5px;
}

/*-------------Comment------------------*/
.summary-comment{
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

/*-----------Summary info box ------------*/

.summary-info-box {
  margin: auto;
  border-radius: 3px;
  background-color: teal;
  margin: 10% 5% ;
  width: 90%;
  height:250px;
}
