.summary-main {
  background-color: #EBEBEB;
}

/*--------------table-----------------*/
.audience-table {
  font-size: 25px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.usersClicks {
  background-color: #FFFFFF;
  border-radius: 5px;
}

th{
  background-color: #343234;
  color: #FFFFFF;
}

tr:hover {
  background-color: #6292BD;
  color: #FFFFFF;
}

/*-------------Summary-----------------*/
.summary {
  background-color: #FFFFFF;
  border-radius: 5px;
}

/*-------------Comment------------------*/
.summary-comment{
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.summary-comment p {
  padding:5px;
}

/*-----------Summary info box ------------*/

.summary-info-box {
  margin: auto;
  border-radius: 3px;
  background-color: #6292BD;
  margin: 10% 5% ;
  width: 90%;
  height: 250px;
  color: #FFFFFF;
}

.title {
  font-size: 20px;
  text-align: center;
  margin: 2%;
}

.output {
  margin:20% 0 5%;
  font-size: 120px;
  text-align: center;
}
.output-md{
  margin:20% 0 5%;
  font-size: 60px;
  text-align: center;
}
.output-sm{
  margin:20% 0 5%;
  font-size: 120px;
  text-align: center;
}
.output-sm span{
  margin:20% 0 5%;
  font-size: 20px;
}
.view-btn {
  font-size: 15px;
  margin: 0;
}
